:root {
    --dark-background: #53354a;
    --light-background: #915d81;
    --white: white;
    }

* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Header/Nav bar styles */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-background);
}

.logo {
    width: auto;
    height: 40px;
    padding: 10px;
}

.nav-links {
    list-style: none;
    }

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a {
    font-weight: 500;
    font-size: 16px;
    color: var(--white);
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: var(--light-background);  
}

/* About Me section styles */

.about-me {
   background-color: var(--light-background);
   width: 100%;
   margin: 0 auto;
   display: flex;
   align-items: center;
}

.profile-pic {
    width: 250px;
    height: auto;
    padding: 2% 5%;
    border-radius: 50%;
}

.about-text {
    width: 80%;
    padding: 3%;
}

/* Proficiencies divider styles */

.proficiencies {
    display: flex;
    background-color: #e6e6e6;
    width: 100%;
}

.proficiencies-list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 100%;
    align-items: center;
}

.proficiencies-list li {
    display: inline-block;
    max-width: 100px;
    text-align: center;
    font-weight: bold;
}

/* Previous work section styles */

.previous-work {
    background-color: var(--dark-background);
    width: 100%;
 }

.previous-work ul {
    padding: 0;
    margin: 0;
}

.previous-work li {
    float: left;
    width: 23%;
    margin: 1%;
    list-style-type: none;
    position: relative;
}

.previous-work img {
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 4px solid var(--light-background);
    transition: all 0.3s ease 0s;
}

.previous-work img:hover {
    opacity: 50%;
}

.previous-work li a {
    float: left;
    text-decoration: none;
}

.previous-work ul:after {
    content: "";
    display: block;
    clear: both;
}

#first-example {
    width: 98%;
    margin-top: 40px;
}

.title {
    position: absolute;
    bottom: 25px;
    left: 0px;
    color: white;
    background-color: var(--light-background);
    padding: 10px 10px 10px 20px;
}

/* Contact info footer styles */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-background);
}

footer h1 {
    height: 40px;
    padding: 10px;
}

.contact-me {
    list-style: none;
    }

.contact-me li {
    display: inline-block;
    padding: 0 20px;
}

.contact-me li a {
    font-weight: 500;
    font-size: 16px;
    color: var(--dark-background);
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.contact-me li a:hover {
    color: var(--white);  
}